.archive_item {
  width: 530px;
  height: 389px;
  margin-bottom: 150px;
  list-style-type: none;
  transition: .6s;
  &:hover {
    transition: .6s;
    .archive_image {
      width: 490px;
      overflow: hidden;
    }
    .archive_image_in {
      transform: scale(1.05);
      transition: .6s;
    }
    .archive_desc {
      background-color: rgba(44,48,58,1);
      box-shadow: 0 40px 40px rgba(0,0,0,.25);
      border-radius: 10px;
      transition: .6s;
    }
  }
}
.archive_inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.archive_image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 490px;
  overflow: hidden;
  &_in {
    display:block;
    width: 100%;
    transition: .6s;
  }
}
.archive_desc {
  position: absolute;
  top: 35px;
  left: 20px;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 497px;
  height: 340px;
  padding-bottom: 20px;
  padding-left: 30px;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(44,48,58,0.6);
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  transition: .8s;

  h2 {
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    font-family: pertibd;
    font-weight: bold;
  }
  p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-weight: lighter;
  }
}
a {
  text-decoration: none;
}